# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Shruti\CSYE6225_infrastructure\infrastructure\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
.idea/**
